body {
  font-family: Trebuchet,Helvetica,sans-serif;
}

.lineGraph {
  float: left;
  width: 50%;
  height: 50%;
}

.clusterize {
  float: left;
  width: 50%;
 }

 th.date {
   width: 49%;
 }

 th.units {
   width: 49%;
 }

 th.filler {
   width: 2%;
 }

.clusterize th {
  height: 50px;
  border: 1px solid black;
  background-color: #d4d4d4;
}

.clusterize table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.clusterize td {
  width: 50%;
  border: 1px solid black;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #d4d4d4;
}