# Ignore the following files (do not commit working files to repository)

# Ignore TSTool log files
*.log

# Ignore temporary files from editors
# vi/vim
*.swp
*.swo

# Ignore dynamic files created by running commands
examples/tstool/example-calls/hist-calls.csv

# Office temporary files

*.tmp

# Word
#~$*.doc*
# Excel
#~$*.xls*
# PowerPoint
#~$*.ppt*
~$*
